/* Center the form on the page */
.product-form-container{
   display: flex;
   justify-content: center;
   
   height: 100vh;
  
 }
 
 /* Style the form */
 .product-form {
   background-color: #f4f4f4;
   border: 1px solid #ccc;
   padding: 20px;
   width: 400px;
   box-shadow: 0 0 10px rgba(3, 2, 2, 0.1);
   border-radius: 5px;
   margin-left:300px;
 }
 
 .product-label{
   display: block;
   margin-top: 10px;
 }
 
.product-form-input{
   width: 100%;
   padding: 10px;
   margin: 5px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
}
 select {
   width: 100%;
   padding: 10px;
   margin: 5px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 button {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 10px;
 }
 
 button:hover {
   background-color: #0056b3;
 }
 